.star-rating {
  display: flex;
}

.star-rating__item {
  margin-right: 8px;
  font-size: 2rem;
  cursor: pointer;
  color: #ffd208;
}

.star-rating--disabled .star-rating__item {
  opacity: 0.25;
  cursor: not-allowed;
}
