<div class="container">

  <h3>Star Rating Form Control</h3>

  <div class="row align-items-start">
    <div class="col">
      <form [formGroup]="form" novalidate>
        <div class="mb-3">
          <label for="reviewTitle" class="form-label">Review Title</label>
          <input formControlName="reviewTitle" type="text" class="form-control" id="reviewTitle" aria-describedby="reviewTitleHelp">
          <div id="reviewTitleHelp" class="form-text">Write a short title describing your review.</div>
          <ng-container *ngIf="reviewTitleCtrl.invalid && (reviewTitleCtrl.dirty || reviewTitleCtrl.touched)">
            <div *ngIf="reviewTitleCtrl.errors?.required" class="alert alert-danger mt-3" role="alert">Review title is required.</div>
            <div *ngIf="reviewTitleCtrl.errors?.minlength" class="alert alert-danger" role="alert">Review title must be at least 2 chars.</div>
            <div *ngIf="reviewTitleCtrl.errors?.maxlength" class="alert alert-danger" role="alert">Review title must be at 32 chars or less.</div>
          </ng-container>
        </div>
        <div class="mb-3">
          <label for="starRating" class="form-label">Star Rating</label>
          <select formControlName="starRating" class="form-select" aria-describedby="starRatingHelp">
            <option value="" selected>Choose a rating...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
            <option value="5">Five</option>
          </select>
          <div class="invalid-feedback">here</div>
          <div id="starRatingHelp" class="form-text">Choose a rating from 1-5</div>
          <ng-container *ngIf="starRatingCtrl.invalid && (starRatingCtrl.dirty || starRatingCtrl.touched)">
            <div *ngIf="starRatingCtrl.errors?.required" class="alert alert-danger mt-3" role="alert">Star Rating is required.</div>
          </ng-container>
        </div>
        <div class="mb-3">
          <input class="btn btn-primary" [disabled]="form.invalid" type="submit" value="Save Review">
        </div>
      </form>
    </div>
    <div class="col">
      <p>Raw Form Data</p>
      <pre>{{ form.value | json }}</pre>
    </div>
  </div>


</div>
